@media screen and (max-width: 1100px) {
  body {
    overflow-x: hidden;
  }
  .right ul {
    margin-left: 5em;
    gap: 2em;
  }
  .about {
    height: auto;
  }
  .aboutImgs {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .aboutImage {
    width: 35em;
    height: 14em;
    margin-left: 3em;
    object-fit: cover;
  }
  .right {
    row-gap: 1em;
    column-gap: 3em;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
  }
  .story {
    height: auto;
  }
  .storyContainer {
    padding: 1em 4em;
  }
  .contact {
    height: auto;
  }
  .contactContainer {
    gap: 3em;
    padding: 2em 3em;
  }
  iframe {
    width: 500px;
    height: 300px;
  }
  .contactLeft {
    flex-direction: column;
    padding-top: 3em;
  }
}
